<div class="container">
  <div class="row">

      <div class="col-md-12">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h2>
                      Categories

                      <a routerLink="/admin/createCategory" class="btn btn-default pull-right">Create New</a>
                  </h2>
              </div>

              <div class="panel-body">
                  <table class="table">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Post Count</th>
                              <th>Action</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let category of categories">
                              <td>{{category.name}}</td>
                              <td>1</td>
                              <td>
                                  <a routerLink="/admin/editCategory/{{category.id}}" class="btn btn-xs btn-info">Edit</a>
                                  <a (click)="deleteCateogry(category.id)" class="btn btn-xs btn-danger">Delete</a>
                              </td>
                          </tr>
                      </tbody>
                  </table>



              </div>
          </div>
      </div>

  </div>
</div>
